{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "{% static 'css/main.css' %}">
    {% block title %}
    Mata Kuliah
    {% endblock %}
</head>
<body>
{% block body %}
    <div>
    <h1 class="header_box">Mata Kuliah</h1>
    </div>
    <div>
        <div class="content_box" style="align-content: center">
            <table style="margin: auto">
                <tr>
                    <th>ID</th>
                    <th>Nama Mata Kuliah</th>
                    <th>Nama Dosen</th>
                    <th>Jumlah SKS</th>
                    <th>Deskripsi</th>
                    <th>Ruang Kuliah</th>
                    <th>Semester</th>
                    <th colspan="2">Controls</th>
                </tr>
                {% for matkul in shelf %}
                    <tr>
                        <td>{{ matkul.id }}</td>
                        <td>{{ matkul.name }}</td>
                        <td>{{ matkul.dosen }}</td>
                        <td>{{ matkul.sks }}</td>
                        <td>{{ matkul.desc }}</td>
                        <td>{{ matkul.kelas }}</td>
                        <td>{{ matkul.semester }}</td>
                        <td><a href="matkul/update/{{ matkul.id }}" id='{{ id }}' style="padding: 0px"><button class="button" style="background-color: gold">Edit</button></a> </td>
                        <td><a href="matkul/delete/{{ matkul.id }}" id='{{ id }}' style="padding: 0px"><button class="button" style="background-color: lightcoral">Delete</button></a></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="grid-container">
                <div style="display: flex; justify-content: center">
                    <a href="matkul/upload"><button class="button" style="background-color: lightgreen; font-size: 1.5em" >Tambah Matkul</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>