{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        <div>
            <h1 class="header_box">Input Mata Kuliah</h1>
        </div>
        <div class="content_box" style="display: flex; justify-content: center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {% for field in upload_form %}
                        <tr>
                            <th>{{ field.label }}</th>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}
                </table>
            <button type="submit" style="background-color: lightgreen; font-family: Poppins; ">Submit</button>
            <button type="reset" style="background-color: lightcoral; font-family: Poppins">Reset</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>