{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Daftar Aktifitas
    {% endblock %}
    <link rel="stylesheet" href = "{% static 'css/main.css' %}">
</head>

<body>
    {% block body %}
        <div class="grid-container">
            <div class="element">
            <div class="header_box"><h1>Activities</h1></div>
                <div class="content_box">
                    <a class="btn" href="{% url 'register' %}">Add Person</a>
                </div>
            </div>
        </div>
{% if activities  %}
    <div class="grid-container">
      {% for i in activities %}
      <div class="element">
        <div class="content_box">
          <h5 class="header_box">{{ i.activities_name }}</h5>
          <p class="card-text">Registered Person</p>
          {% for j in people %}
            {% if j.activities.activities_name == i.activities_name %}
              <p class="card-text">{{ j.people_name }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    <a href="/aktifitas/register">Register Now!</a>
    </div>
    {% else %}
    <h3>Ask admin to add activities</h3>
    {% endif %}


    {% endblock %}
</body>
</html>