{% extends 'base.html' %}
<head>

</head>
<body>
    {% block body  %}
    <div class="grid-container">
        <div class="element">
            <div class = "header_box"><h1> Register </h1></div>
            <div class="content_box">
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" value="Submit" />
              </form>
            </div>
        </div>
    </div>
    {% endblock  %}
</body>