{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <link rel="stylesheet" href = "{% static 'css/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'javascript/script.js' %}" defer></script>
        <script src="{% static 'javascript/search.js' %}" defer></script>
        <meta charset="UTF-8">
        {% block title %}Find-a-Book!{% endblock %}
    {% endblock %}
</head>
<body>
    {% block body %}
        <div>
            <div class="header_box"><h1>Find a book!</h1></div>
            <div class="header_box">
                <h2>
                    <span class="title">Search Box</span>
                </h2>
            </div>
            <div class="content_box">
                <form>
                    <label for="keyword">Keyword</label>
                    <input id="keyword" value="The Art of War">
                </form>
                <p>tip: you can collapse this box!</p>
            </div>
        </div>
        <div>
            <div class="header_box">
                <h2>
                    <span class="title">Search Result</span>
                </h2>
            </div>
            <div class="content_box">
                <ul id="hasil">

                </ul>
            </div>
        </div>
    {% endblock %}
</body>
</html>