{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Home
        {% endblock title%}
    </title>
    <link rel="icon" type="image" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block meta %}
    {% endblock %}

</head>


<body>
    <div class="navbar-grid-container">
        <div class="navbar-element">
            <a href="/"><img src="static/img/favicon.ico" style="width: 50px" class="navbar-pict"></a>
        </div>
    </div>

    <div class="navbar-grid-container">
        <div class="navbar-element">
            <a href="/search">Find-a-Book</a>
        </div>
        <div class="navbar-element">
            <a href="/old">Legacy Ver.</a>
        </div>
        <div class="navbar-element">
            <a href="/matkul">Matkul</a>
        </div>
        <div class="navbar-element">
            <a href="/aktifitas">Activity</a>
        </div>
        <div class="navbar-element">
            <a href="/custom_login">Login</a>
        </div>
    </div>



        {% block body %}
        {% endblock body %}

<div class="footer">
    <p>Made by Francis Wibisono</p>
    <a href="https://scele.cs.ui.ac.id/course/view.php?id=2946" style="padding: 2px">PPW-E</a>, 1906350553
</div>
</body>
</html>