{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href = "{% static 'css/main.css' %}">
    <title>Bonus</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.css' %}"/>
</head>
<body style="text-align: center">
    {% block body %}
        <div style="align-content: center">
            <div class="header_image" style="margin: auto">
                <img src="static/img/pacyl header.png" width="100%">
            </div>
            <div class="header_box">
            <h1>Hello!</h1>
            <h2>Thanks for reading all the way down!</h2>
            </div>
            <div class="content_box">
                <p>Here are several potatoes for your troubles!</p>
                <a href="https://www.reddit.com/user/dasweizen78">
                    <img src="static/img/potato.jpg" class="potato">
                </a>
            </div>
            <div style="text-align: center; ">
                <h3>Created by Francis Wibisono</h3>
                <p><i>MMXX anno Domini</i> </br><i>L anno UNIX tempore</i>  </br><i>I anno Virus coronarium</i></p>
                <h4>With help from, in no particular order:</h4>
                <p>anski, mustafa, raihanr2m, dodo, dennis, hocky, universitrap isekai, reddit, ka mitu, ka lika, csstricks.com, masterweb, heroku, gitlab, github, computerphille, numberphille, tom scott, cgp grey, lindybeige, pewdipie, markiplier, offlinetv, lofi hip hop radio - beats to relax/study to </p>
                <p style="font-size: 0.5em">ka intan jangan pelit nilai plz wkwkwkk</p>
                <div style="text-align: center">
                    <a href="/">go back =D</a>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>