{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href = "{% static 'css/main.css' %}">
        <title>
            {% block title %}
                {{ nama }}
            {% endblock %}
        </title>
            {% block meta %}
                <script
                  src="https://code.jquery.com/jquery-3.5.1.js"
                  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                  crossorigin="anonymous"></script>
                <script src="{% static 'javascript/script.js' %}" defer></script>
            {% endblock %}
    </head>

    <body>
    {% block body %}
        <div class="header_image" style="background: url('{% static 'img/pacyl header.png' %}')">
            <img src="{% static 'img/profile.png' %}", width="40%">
        </div>
        <h1 class="NameLine">
            {{ nama }}
        </h1>
        <p class="desc">
            {{ desc }}
        </p>

        <div class="grid-container">
            <!--Education History-->
                <div class="element" id="edu">
                    <div class="header_box">
                        <h2>
                            <span class="title">Education History</span>
                            <span class="down"><img src="{% static "img/down-chevron.png"%}"style="width: 1em; text-align: right"></span>
                            <span class="up"><img src="{% static "img/up-chevron.png"%}" style="width: 1em; text-align: right"></span>
                        </h2>
                    </div>
                    <div class="content_box">
                        <table>
                            {% for row in edu %}
                               <tr>
                                   {% for item in row %}
                                       <td>{{ item }}</td>
                                   {% endfor %}
                               </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!--Skills-->
                <div class="element">
                    <div class="header_box">
                        <h2>
                            <span class="title">Skills</span>
                            <span class="down"><img src="{% static "img/down-chevron.png"%}"style="width: 1em"></span>
                            <span class="up"><img src="{% static "img/up-chevron.png"%}" style="width: 1em"></span>
                        </h2>
                    </div>
                    <div class="content_box">
                        <ul>
                            {% for ski in skill %}
                                <li>{{ ski }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <!-- Hobbies -->
            <div class="element" id="hob">
                    <div class="header_box">
                        <h2>
                            <span class="title">Hobbies</span>
                            <span class="down"><img src="{% static "img/down-chevron.png"%}"style="width: 1em"></span>
                            <span class="up"><img src="{% static "img/up-chevron.png"%}" style="width: 1em"></span>
                        </h2>
                    </div>
                    <div class="content_box">
                        <ul class="content_box">
                            {% for hobby in hobbies %}
                                <li>{{ hobby }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="element" id="exp" >
                <div class="header_box">
                        <h2>
                            <span class="title">Experience</span>
                            <span class="down"><img src="{% static "img/down-chevron.png"%}"style="width: 1em"></span>
                            <span class="up"><img src="{% static "img/up-chevron.png"%}" style="width: 1em"></span>
                        </h2>
                    </div>
                <div class="content_box">
                    <table>
                        {% for row in experience %}
                           <tr>
                               {% for item in row %}
                                   <td>{{ item }}</td>
                               {% endfor %}
                           </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="element">
                <div class="header_box">
                    <h2>
                        <span class="title">Find me online!</span>
                        <span class="down"><img src="{% static "img/down-chevron.png"%}"style="width: 1em"></span>
                        <span class="up"><img src="{% static "img/up-chevron.png"%}" style="width: 1em"></span>
                    </h2>
                </div>
                <div class="content_box">
                    <table style="width: 100%">
                        <tr class="socialButtons">
                            <td>
                                <a href="mailto:francis.wibisono@ui.ac.id">
                                    <img src="static/img/gmail.png" width="50px">
                                </a>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/francis-wibisono/">
                                    <img src="static/img/linkedin.png" width="50px">
                                </a>
                            </td>
                            <td>
                                <a href="https://www.instagram.com/fwibisono87/">
                                    <img src="static/img/ig.png" width="50px">
                                </a>
                            </td>
                        </tr>
                        <tr class="socialButtons">
                            <td>
                                Email
                            </td>
                            <td>
                                LinkedIn
                            </td>
                            <td>
                                instagram
                            </td>
                        <tr class="socialButtons">
                            <td>
                                <a href="https://github.com/fwibisono87">
                                    <img src="static/img/github.png" width="50px">
                                </a>
                            </td>
                            <td>
                                <a href="/old">
                                    <img src="static/img/history.png" width="50px">
                                </a>
                            </td>
                            <td>
                                <a href="http://downloader.franciswibisono.com">
                                    <img src="static/img/download.png" width="50px">
                                </a>
                            </td>
                        </tr>
                        <tr class="socialButtons">
                            <td>
                                GitHub
                            </td>
                            <td>
                                Old Version
                            </td>
                            <td>
                                Downloader
                            </td></tr>
                    </table>
                </div>
            </div>
        </div>

        <div style="text-align: center">
            <a href="/bonus">click here ^^</a>
        </div>
    {% endblock body %}
    </body>
</html>
