body{
    background-color: #6e6e6e;
    font-family: Roboto;
    border-style: unset;
    border-width: 10px;
    border-color: #ffd700;
    border-radius: 5px;
}

.NameLine{
    color: black;
    font-family: Poppins;
    padding-left: 10%;
    padding-right: 100px;
    background-color: rgba(196, 196, 196, 0.8);
    z-index: 0;
    position: absolute;
    margin-top: -60px;
    border-style: inset;
    border-width: 5px;
    border-color: #394a71;
    border-radius: 5px;
}

h3{
    font-family: Poppins;
    color: papayawhip;
    background-color: black;
}

h4{
    font-family: Poppins;
}

.desc{
    font-family: Roboto;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    z-index: -1;
    margin-top: 40px;
}

.header_image{
    width: auto;
    z-index: -3;
    background-repeat: no-repeat;

}
.header_box{
    font-family: Poppins;
    color: papayawhip;
    background-color: black;
    padding: 20px;
}
.content_box{
    background-color: white;
    padding: 5%;
    list-style: "# ";
    margin-top: 10px;
    margin-right: fill;
    margin-left: fill;
}


.element{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 15px);
}

li{
    margin-left: 20px;
    padding-left: 5px;
}

td{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.socialButtons{

    table-layout: fixed;
    width: 33%;
}

td{
    text-align: center;
}

.potato{
    width: 400px;
}

.menuDiv{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu{
    display: inline;
    background-color: papayawhip;
    padding: 20px;
    margin-left: -10px;
    text-decoration: none;
}

.menu:hover{
    background-color: #333333;
    color: papayawhip;
}

.menu:visited{
    color: black;
}

.menu:hover:visited{
    color: papayawhip;
}

.navbar-grid-container{
    background-color: black;
    width: auto;
    padding: 10px;
    display: grid;
    grid-row-gap: 1px;
    grid-column-gap: 5px;
    margin: 10px;
    margin-top: -10px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.navbar-element{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 300px);
    color: white;
    text-align: center;
    padding: 10px;
}


a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    background-color: white;
}

a.navbar-pict{
    height: 50px;
    width: 50px;
}
a.navbar-pict:hover{
    background-color: black;
}

.footer{
    background-color: black;
    color: papayawhip;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
td{
    padding: 5px;

}
th{
    padding: 5px;
    font-family: Poppins;
    background-color: black;
    color: papayawhip;
}
tr:nth-child(odd) {
    background-color: #c4c4c4;
    color: black;
}

.edit-button{
    background-color: yellow;
    color: black;
    padding: 0px;
}
.delete-button{
    background-color: red;
    color: black;
    padding: 0px;
}

button{
    border-radius: 8px;
    font-family: Roboto;
}